#!/usr/bin/make -f

# FIXME: much of this can be removed once we move off of xenial/mint 18 base support
# meson support is baked in

%:
	dh $@ --with=gir

override_dh_auto_configure:
	mkdir -p debian/build
	meson debian/build \
		--prefix=/usr \
		--buildtype=plain \
		-D docs=true \
		-D deprecated_warnings=false

override_dh_strip:
	dh_strip -Xgtk2 --dbg-package=libxapp-dbg
	dh_strip -Xxapp1 --dbg-package=libxapp-status-icon-gtk2-dbg

override_dh_auto_build:
	ninja -C debian/build

override_dh_auto_test:
	ninja -C debian/build test

override_dh_auto_install:
	DESTDIR=${CURDIR}/debian/tmp \
	ninja -C debian/build install
